<section
  id="contact"
  class="flex flex-col items-center justify-center gap-6 px-24 py-16 text-center"
>
  <h2 class="text-4xl font-semibold">Let's work together.</h2>
  <p class="max-w-prose text-slate-700 dark:text-slate-400">
    Got a project, an opportunity, or just want to chat? I'd love to hear from
    you.
  </p>
  <a
    href="mailto:joshi.archit.2904@gmail.com"
    class="flex items-center gap-2 rounded-md border border-slate-600 bg-slate-200 dark:bg-black px-6 py-3 transition-all ease-in-out hover:shadow-[0_0_15px_rgba(255,255,255,0.3)]"
  >
    <i class="fa-regular fa-envelope"></i> Send me an Email
  </a>
  <div class="flex items-center gap-4 text-slate-700 dark:text-slate-400">
    <span class="text-sm">or find me on</span>
    <a
      href="https://www.github.com/JoshiArchit"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i class="fa-brands fa-github text-xl transition-colors hover:text-white"
      ></i>
    </a>
    <a
      href="https://www.linkedin.com/in/archit2904"
      target="_blank"
      rel="noopener noreferrer"
    >
      <i
        class="fa-brands fa-linkedin text-xl transition-colors hover:text-white"
      ></i>
    </a>
  </div>
</section>
