<footer
  class="flex w-full flex-col justify-between gap-2 border-t border-slate-900 bg-zinc-100 px-10 py-5 text-xs font-light dark:bg-gray-950"
>
  <div id="footer-top" class="flex justify-between">
    <div>
      <p class="text-base font-bold">Archit Joshi</p><p>
        Based in United States
      </p>
    </div>
    <div class="w-3/8">
      Crafted with Astro, TypeScript & Tailwind, React for the spicy bits, and
      coffee to push it across the finish line.
    </div>
  </div>
  <div id="footer-bottom" class="flex justify-between">
    <div id="copyright">
      © 2026 Archit — always open to new opportunities and a good conversation.
    </div>
    <div class="flex w-3/8 justify-end gap-1">
      <a
        href="https://www.github.com/JoshiArchit"
        target="_blank"
        rel="noopener
      noreferrer"
        ><i class="fa-brands fa-github text-xl"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/archit2904"
        target="_blank"
        rel="noopener noreferrer"
        ><i class="fa-brands fa-linkedin text-xl"></i>
      </a>
    </div>
  </div>
</footer>
