<header class="flex justify-between sticky items-center w-full h-[10vh] px-8">
  <div class="flex gap-4 divide-x-2 items-center">
    <section class="text-base anchors flex gap-5">
      <a href="#home">Home</a>
      <a>About</a>
      <a>Projects</a>
      <a>Contact</a>
    </section>
  </div>
  <div>
    <button>
      <!--For light mode -->
      <!-- <i class="fa-solid fa-moon"></i> -->
      <i class="fa-regular fa-moon"></i>
    </button>
  </div>
</header>
