<header
  class="sticky flex h-[10vh] w-full items-center justify-between px-8 font-light"
>
  <div class="flex items-center gap-4 divide-x-2">
    <section class="anchors flex gap-5 text-base">
      <a href="#home">Home</a>
      <a>About</a>
      <a>Projects</a>
      <a>Contact</a>
    </section>
  </div>
  <div>
    <button>
      <!--For light mode -->
      <!-- <i class="fa-solid fa-moon"></i> -->
      <i class="fa-regular fa-moon"></i>
    </button>
  </div>
</header>

<!-- bg-[radial-gradient(circle,#c084fc_0%,#6b21a8_100%)] -->
