---
import About from "./experience/About.astro";
import Education from "./experience/Education.astro";
import WorkExperience from "./experience/WorkExperience.astro";
---

<section
  id="profile"
  class="relative flex min-h-[calc(100vh-10vh)] w-full flex-1 flex-col items-center justify-center gap-8 px-24"
>
  <div class="w-full border border-slate-900"></div>
  <About />
  <div class="flex gap-16">
    <WorkExperience />
    <Education />
  </div>
  <div class="w-full border border-slate-900"></div>
</section>
